<template>
  <v-container justify="center" align="center">
    <v-col justify="center" align="center">
      <div>
        <table class="table_background">
          <thead>
            <tr>
              <th class="result_text" align="text-center" colspan="4">
                &nbsp;&nbsp; {{ result }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><v-btn @click="btn_AC">AC</v-btn></td>
              <td><v-btn @click="btn_PlusMiuns">+/-</v-btn></td>
              <td><v-btn @click="btn_DEL">DEL</v-btn></td>
              <td><v-btn @click="btn_Operator('/')">/</v-btn></td>
            </tr>
            <tr>
              <td><v-btn @click="btn_NUM(7)">7</v-btn></td>
              <td><v-btn @click="btn_NUM(8)">8</v-btn></td>
              <td><v-btn @click="btn_NUM(9)">9</v-btn></td>
              <td><v-btn @click="btn_Operator('*')">x</v-btn></td>
            </tr>
            <tr>
              <td><v-btn @click="btn_NUM(4)">4</v-btn></td>
              <td><v-btn @click="btn_NUM(5)">5</v-btn></td>
              <td><v-btn @click="btn_NUM(6)">6</v-btn></td>
              <td><v-btn @click="btn_Operator('-')">-</v-btn></td>
            </tr>
            <tr>
              <td><v-btn @click="btn_NUM(1)">1</v-btn></td>
              <td><v-btn @click="btn_NUM(2)">2</v-btn></td>
              <td><v-btn @click="btn_NUM(3)">3</v-btn></td>
              <td><v-btn @click="btn_Operator('+')">+</v-btn></td>
            </tr>
            <tr>
              <td colspan="2">
                <v-btn width="100%" @click="btn_NUM(0)">0</v-btn>
              </td>
              <td><v-btn @click="btn_NUM('.')">.</v-btn></td>
              <td><v-btn @click="btn_Operator('=')">=</v-btn></td>
            </tr>
          </tbody>
        </table>
      </div>
    </v-col>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      temp: "",
      result: "결과창",
      cals: [],
    };
  },
  methods: {
    init_Result() {
      if (this.result == "결과창") {
        this.result = "";
      }
      if (this.temp.charAt(this.temp.length - 1) == "=") {
        this.temp = "";
      }
    },
    btn_AC() {
      this.temp = "";
      this.result = "결과창";
    },

    btn_PlusMiuns() {
      this.init_Result();
      //바로 앞이 연산자면 (-)
      if (this.result == "") {
        console.log("왜 안찍히지");
        this.result = "-";
        return;
      }

      if (this.result == "-") {
        this.result = "";
        return;
      }

      if (this.result.charAt(this.result.length - 1) == ")") {
        this.result = this.result.slice(0, this.result.length - 5);
      } else {
        //플마 부호 어떻게 할건지...
        //this.result = "-" + this.result ;
        if (
          this.result.charAt(this.result.length - 1) == "/" ||
          this.result.charAt(this.result.length - 1) == "*" ||
          this.result.charAt(this.result.length - 1) == "-" ||
          this.result.charAt(this.result.length - 1) == "+"
        ) {
          return;
        }
        this.result = this.result + "*(-1)";
      }
    },
    btn_DEL() {
      this.init_Result();
      if (this.result.length == 1) {
        this.result = "0";
      } else {
        this.result = this.result.slice(0, this.result.length - 1);
      }
    },
    btn_NUM(num) {
      this.init_Result();
      if (this.result.charAt(this.result.length - 1) == ")") {
        //플마 기호 *(-1)붙을때 바로 뒤에 숫자 붙으면 안돼서
        return;
      }

      if (this.result.length == 1) {
        if (this.result.charAt(0) == "0") {
          if (num == "0") {
            this.result = "";
          } else if (num != ".") {
            this.result = this.result.slice(1);
          }
        }
      }

      if (num == ".") {
        if (this.result == "") {
          this.result += 0;
        }
        let which = this.result.lastIndexOf(".");
        console.log(which + " .위치");
        if (
          which != -1 &&
          (which < this.result.lastIndexOf("+") ||
            which < this.result.lastIndexOf("*") ||
            which < this.result.lastIndexOf("/") ||
            which < this.result.lastIndexOf("-"))
        ) {
          this.result += num;
          return;
        }
      }

      this.result += num;
    },
    btn_Operator(op) {
      this.init_Result();
      if (this.result.length == 0) {
        return;
      }
      if (
        this.result.charAt(this.result.length - 1) == "/" ||
        this.result.charAt(this.result.length - 1) == "*" ||
        this.result.charAt(this.result.length - 1) == "-" ||
        this.result.charAt(this.result.length - 1) == "+"
      ) {
        return;
      } else if (op == "=") {
        if (this.temp.charAt(this.temp.length - 1) == "=") {
          return;
        }
        if (
          this.result.indexOf("/") == -1 &&
          this.result.indexOf("*") == -1 &&
          this.result.indexOf("-") == -1 &&
          this.result.indexOf("+") == -1
        ) {
          return;
        }
        this.temp = this.result;
        this.temp += "=";
        this.result = String(eval(this.result));
      } else {
        this.result = this.result + op;
      }
    },
  },
};
</script>
<style scoped>
.table_background {
  background-color: black;
}
.result_text {
  color: white;
}
</style>
